# This is a pip requirements file.
# To install all these requirements:
# 'pip install -r requirements.txt'
# Make sure you have pip installed!
# To update just use 'pip install -r requirements.txt --upgrade'
Pillow                # PIL
opencv-python         # cv2
scikit-image          # skimage
tqdm
