#this is a requirement.txt file
#to install all this requirements
#`pip install -r requirements.txt`
# make sure you have pip installed !!
# to update just use `pip install -r requirements.txt --upgrade`
pytorch
Pillow                # PIL
skimage
tqdm
opencv-python         # cv2
trimesh
PyOpenGL
ffmpeg

